.banner-wrap {
  max-width: 1300px;
  max-height: 60vh;
  min-height: 350px;
  overflow: hidden;

  display: flex;
  margin: 0 auto 1em auto;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.hero-desc {
  text-align: center;
}
