.popper {
  position: fixed;
  inset: 0;

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
  }

  z-index: 20;
  display: grid;
  place-items: center;

  .nav_image {
    border-radius: 50%;
    background-color: var(--white-200);
    padding: 0.15em;
  }

  .popup {
    background-color: var(--white);
    padding: 1em;
    margin-block: 1em;
    width: min(100%, 1200px);
    // max-height: 100vh;
    display: flex;
    flex-direction: column;
    // grid-template-rows: 3em auto 3em;
    // height: 100%;
    z-index: 25;

    .image-view {
      flex-grow: 1;
      img {
        object-fit: contain;
      }
    }

    p {
      text-align: center;
    }
  }

  .image-viewer {
    position: relative;

    .image-loader {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.55);
      z-index: 30;
    }
  }
}
